<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  button{
    background-color: rgb(255, 112, 112); 
    font-size: 50px;
  }
  input{
    font-size: 50px;
  }
  .container{
    margin-top: 400px;
    margin-left: 400px;
  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<body>
  <div class="container">
    <form action="/delete" method="POST" class="d-flex">
      <input type="text" name="search" value="" placeholder="Enter user's name">
      <button type="submit"><i class="fas fa-times"></i>Delete</button>
  </form>
  </div>
</body>
</html>